section.product a.one {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
section.product a.one:hover {
    transition: all 0.3s ease;
    transform: scale(1.3);
}
section.product {
    background-image: linear-gradient(272deg, #ffc800, #ff8d0099);
}